DJANGO_SECRET_KEY=your_secret_key_here
DEBUG=True/False
DJANGO_LOGLEVEL=any
DJANGO_ALLOWED_HOSTS=any-allowed_host
DB_ENGINE=some_engine
DB_NAME=your_best_name
DB_USER=some_user
DB_PASSWORD=some_password
DB_HOST=a_cool_db_gost
DB_PORT=9999
