<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Capital Rocket Team {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
  </head>

  <body>
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <span class="close-alert-btn">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <header class="navbar">
      <nav class="container">
        <a href="" class="logo"><img src="{% static 'public/images/Logo.png' %}" alt="Logo" /></a>
        <div class="menu-desktop">
          <ul class="nav-links">
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'projetos' %}">Projetos</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
          <a href="#" class="btn-cta">Área do membro</a>
        </div>
        <div class="menu-mobile-icon">
          <span></span><span></span><span></span>
        </div>
      </nav>
      <div class="menu-mobile" >
            <a href="{% url 'sobre' %}">Sobre</a><br>
            <a href="{% url 'projetos' %}">Projetos</a><br>
            <a href="{% url 'contato' %}">Contato</a><br>
            <a href="#" class="btn-cta-mobile">Área do membro</a>
        </div>
    </header>
    <main>
      {% block hero %} 
      {% endblock hero %} 
      {% block content %} 
      {% endblock content %}
    </main>

    <footer class="navbar">
      <div class="container">
        <a href="{% url 'sobre' %}"  class="logo">
          <img src="{% static 'public/images/Logo.png' %}" alt="Logo" />
        </a>

        <div class="nav-links">
          <a href="mailto:contato@capitalrocketteam.com"
            >E-mail</a
          > <br>
          <a href="https://instagram.com/capitalrocketteam" target="_blank"
            >Instagram</a
          > <br>
          <a href="https://linkedin.com/company/capitalrocketteam/" target="_blank"
            >LinkedIn</a
          ><br>
          <a href="https://www.youtube.com/@capitalrocketteam8708/videos"
            >YouTube</a
          >
        </div>
      </div>
    </footer>
     <div id="terms-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Termos e Condições de Uso</h2>
            <div class="modal-text-content">
              <h3>1. Aceitação dos Termos</h3>
              <p>Ao acessar e utilizar este site, você concorda em cumprir com os seguintes termos e condições de uso, que juntamente com nossa política de privacidade, governam a relação da nossa equipe com você em relação a este website.</p>

              <h3>2. Uso das Informações</h3>
              <p>Ao enviar informações através do nosso formulário de contato, você concorda que a equipe <strong>Capital Rocket Team (CRT)</strong> pode utilizar seu nome e email para entrar em contato com você em resposta à sua consulta, dúvida ou proposta.</p>
              <p>Comprometemo-nos a não utilizar suas informações de contato para fins de marketing não solicitados e a não compartilhar seus dados pessoais com terceiros sem o seu consentimento explícito.</p>

              <h3>3. Propriedade Intelectual</h3>
              <p>Este site contém material que é de nossa propriedade ou licenciado para nós. Este material inclui, mas não se limita a, o design, layout, aparência, textos, fotografias dos projetos e logotipos. A reprodução é proibida, exceto em conformidade com o aviso de direitos autorais, que faz parte destes termos e condições.</p>

              <h3>4. Limitação de Responsabilidade</h3>
              <p>As informações contidas neste site são apenas para fins de informação geral, embora nos esforcemos para manter as informações atualizadas e corretas.</p>

              <h3>5. Alterações nos Termos</h3>
              <p>Reservamo-nos o direito de modificar estes termos a qualquer momento. Recomendamos que você revise esta página periodicamente para estar ciente de quaisquer atualizações.</p>
            </div>
        </div>
    </div>
    <script src="{% static 'public/js/main.js' %}"></script>
  </body>
</html>
