<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Capital Rocket Team {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
  </head>

  <body>

    <header class="navbar">
      <nav class="container">
        <a href="" class="logo"><img src="{% static 'public/images/Logo.png' %}" alt="Logo" /></a>
        <div class="menu-desktop">
          <ul class="nav-links">
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'projetos' %}">Projetos</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
          <a href="#" class="btn-cta">Área do membro</a>
        </div>
        <div class="menu-mobile-icon">
          <span></span><span></span><span></span>
        </div>
      </nav>
      <!-- <div class="menu-mobile">
            <a href="{% url 'sobre' %}">Sobre</a>
            <a href="{% url 'projetos' %}">Projetos</a>
            <a href="{% url 'contato' %}">Contato</a>
            <a href="#" class="btn-cta-mobile">Área do membro</a>
        </div> -->
    </header>
    <main>
      {% block hero %} 
      {% endblock hero %} 
      {% block content %} 
      {% endblock content %}
    </main>

    <footer class="navbar">
      <div class="container">
        <a href="/"  class="logo">
          <img src="{% static 'public/images/Logo.png' %}" alt="Logo" />
        </a>

        <div class="nav-links">
          <a href="mailto:contato@capitalrocketteam.com"
            >contato@capitalrocketteam.com</a
          >
          <a href="https://instagram.com/capitalrocketteam" target="_blank"
            >Instagram</a
          >
          <a href="https://linkedin.com/company/capitalrocketteam/" target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
