{% extends 'public/layout.html' %} 
{% load static %}
{% csrf_token %}

{% block title %}Projetos | CRT{% endblock %}

{% block hero %}
    <section class="hero-section" style="background-image: url('{% static 'public/images/hero-projetos.jpg' %}');">
        <div class="hero-content">
            <h1 class="hero-title">Capital Rocket Team</h1>
            <p class="hero-tagline" style="color: #ffcc29">Projetos</p>
        </div>
    </section>
{% endblock %}

{% block content %}
<section class="project-section">

    {% for projeto in projetos %}
    
        <div class="container content-grid">
            <div class="project-section__image">
                <img src="{{ projeto.imagem.url }}" alt="Foguete {{ projeto.titulo }}" />
            </div>
            <div class="project-section__text">
                <h3 class="project-section__title text-gold">{{ projeto.titulo }}</h3>
                <p>{{ projeto.resumo|linebreaksbr }}</p>

                <details class="project-item">
                    <summary class="project-summary">
                        <span class="summary-button">Saiba mais</span>
                    </summary>

                    <div class="project-details-content">
                        <section class="project-page">
                            <div class="project-grid">
                                <div class="project-grid__column">{{ projeto.dimensoes|linebreaksbr }}</div>
                                <div class="project-grid__column project-grid__main-column">{{ projeto.situacao|linebreaksbr }}</div>
                                <div class="project-grid__column">{{ projeto.custo|linebreaksbr }}</div>
                            </div>
                        </section>
                    </div>
                </details>
            </div>
        </div>
    
    {% endfor %}
    </section>
{% endblock %}