{% extends 'members/layout.html' %}
{% block dashboard_title %}Confirmar Exclusão{% endblock %}
{% block page_title %}Confirmar Exclusão de Membro{% endblock %}
{% block dashboardcontent %}
    <div class="modal.is-open">
        <h3 class="modal-header">Você tem certeza?</h3>
        <p>Você está prestes a excluir permanentemente o membro <strong>{{ membro_excluir.nome }}</strong> e sua conta de usuário associada.</p>
        <p><strong>Esta ação não pode ser desfeita.</strong></p>
        <form method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <a href="{% url 'membros:membros' %}" class="botao-cancel">Cancelar</a>
                <button type="submit" class="btn-save" style="background-color: #e74c3c;">Sim, excluir</button>
            </div>
        </form>
    </div>
{% endblock %}